body {
font-family: Roboto, sans-serif;
margin: 0;
background-color: #f4f4f4;
}

header {
background-color: #333;
color: white;
padding: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
}

h1 {
font-size: 2.5rem;
padding: 1rem;
background-color: #333;
text-align: center;
font-family: "Acme", Arial, sans-serif;
color: white;
margin: 0;
}

h2 {
font-size: 2rem;
}

.stdlf {
font-weight: 700;
border-bottom: 1px solid #777;
margin-bottom: 1rem;
}

section {
margin: 1rem auto;
max-width: 960px;
padding: 0.5rem;
}

.navigation {
list-style: none;
display: none;
flex-direction: column;
padding: 0;
}

.navigation li a {
color: white;
text-decoration: none;
padding: 0.5rem;
display: block;
}

.navigation li a:hover {
background-color: #555;
}

#menu {
font-size: 1.5rem;
background: none;
border: none;
color: white;
cursor: pointer;
}

.container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-gap: 25px;
place-items: center;
}

figure {
background-color: white;
padding: 0.5rem;
}

img {
width: 100%;
height: auto;
margin: 0.5rem;
}

figcaption {
font-size: smaller;
text-align: center;
}

/* Image Effects */

.hover:hover {
box-shadow: 0 0 50px #333;
}

.rocorn {
border-radius: 15px 150px;
}

.opac {
opacity: 0.5;
}

.blur {
filter: blur(4px);
}

.gray {
filter: blur(1px) grayscale(50%);
}

.object {
width: 100%;
height: 75px;
object-fit: cover;
}

.contrast {
filter: contrast(50%);
}

.saturate {
filter: saturate(50%);
}

.transform {
transform: scaleX(-1);
}

.turn {
rotate: 0.05turn;
border: 1px solid rgba(0,0,0,0.3);
padding: 1px;
}

/* Large Screen Navigation */

@media (min-width: 768px){

.navigation{
display:flex;
flex-direction:row;
gap:1rem;
}

#menu{
display:none;
}

}
